body{
    background-color:rgb(189, 220, 220);
    background-attachment: fixed;
}

#outer{
    text-align: center;
    width:80%;
    /* background-color: rgb(189, 220, 220); */
    margin: auto;
    padding: 5%;
    margin-top: 50px;
}

button{
    margin: 2%;
    padding :1% 2%;
    background-color: rgb(49, 49, 54);
    font-weight: bold;
    color: aliceblue;
}

input{
    width: 60%;
    padding: 1%;
}

#ans{
    background-color: rgb(24, 26, 151);
    margin: auto;
    margin-top: 3%;
}
